export TERMINAL="kitty"

xrdb -merge ~/.xresources

xset r rate 175 30

systemctl --user import-environment DISPLAY

export QT_AUTO_SCREEN_SCALE_FACTOR=1

xmodmap ~/.xmodmap

~/.bin/set-wallpaper.sh

